//====================================================================================================
.page {
	// .page__mainpage
	&__mainpage {
		// background: url("@img/mainpage/main-bg.jpg") 75% 0 / cover no-repeat;
		position: relative;
	}
	// .page__services
	&__services {
		padding-top: rem(35);
	}
	// .page__about
	&__about {
		@include adaptiveValue("padding-top", 80, 40);
		@include adaptiveValue("padding-bottom", 80, 40);
	}
	// .page__advice
	&__advice {
		@include adaptiveValue("padding-top", 125, 40);
		@include adaptiveValue("padding-bottom", 80, 40);
	}
	// .page__who
	&__who {
		@include adaptiveValue("padding-top", 100, 20);
		@include adaptiveValue("padding-bottom", 100, 20);
	}
	// .page__clients
	&__clients {
		padding-bottom: rem(20);
	}
}

//==========================================================================================================================

.mainpage {
	display: flex;
	@include adaptiveValue("padding-top", 105, 60);
	@include adaptiveValue("padding-bottom", 105, 60);
	// .mainpage__container
	&__container {
		position: relative;
		z-index: 2;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}
	// .mainpage__body
	&__body {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: rem(510);
		row-gap: rem(35);
		@include adaptiveValue("row-gap", 35, 10);
	}
	// .mainpage__title
	&__title {
		font-weight: 800;
		@include adaptiveValue("font-size", 58, 42);
		line-height: 1.3;
		letter-spacing: em(0.2, 58);
		color: $blueColor;
	}
	// .mainpage__text
	&__text {
		font-weight: 500;
		@include adaptiveValue("font-size", 20, 14);
		line-height: 1.5;
		letter-spacing: em(0.2, 20);
	}
	// .mainpage__buttons
	&__buttons {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(10);
	}
	// .mainpage__btn
	&__btn {
		font-weight: 700;
		line-height: 1.2;
		text-align: center;
		letter-spacing: em(0.2, 14);
		color: #fff;
		border-radius: 37px;
		background-color: $orangeColor;
		padding: rem(15) rem(35);
		// .mainpage__btn_w
		&_w {
			background-color: transparent;
			color: $greenColor;
			border: 1px solid $greenColor;
		}
	}
	// .mainpage__image-ibg
	&__image-ibg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

//==========================================================================================================================

.services {
	background-color: #fafafa;
	position: relative;
	z-index: 1;
	// .services__items
	&__items {
		@include adaptiveValue("margin-top", -110, 0, 1045, 768, 1);
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
		@include adaptiveValue("column-gap", 30, 15);
		row-gap: rem(30);
	}
	// .services__item
	&__item {
	}
}
.item-services {
	height: 100%;
	background-color: #fff;
	@include adaptiveValue("padding", 35, 15);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: rem(10);
	transition: all 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background-color: $greenColor;
			.item-services__title,
			.item-services__text {
				color: #fff;
			}
		}
	}
	// .item-services__icon
	&__icon {
		flex: 0 0 rem(48);
		width: rem(48);
		max-height: rem(48);
		display: flex;
		align-items: flex-end;
		justify-content: center;

		img {
			max-width: 100%;
		}
	}
	// .item-services__title
	&__title {
		font-weight: 700;
		@include adaptiveValue("font-size", 24, 18);
		line-height: 1.3;
		letter-spacing: em(0.1, 24);
		color: $blueColor;
		transition: all 0.3s ease 0s;
	}
	// .item-services__text
	&__text {
		flex: 1 1 auto;
		transition: all 0.3s ease 0s;
	}
}

//==========================================================================================================================

.about-module {
	background-color: #fafafa;
	// .about-module__container
	&__container {
	}
	// .about-module__header
	&__header {
		&:not(:last-child) {
			margin-bottom: rem(50);
		}
	}
	// .about-module__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(235), 1fr));
		@include adaptiveValue("column-gap", 30, 15);
		row-gap: rem(30);
	}
	// .about-module__item
	&__item {
	}
}
.item-about-module {
	height: 100%;
	background-color: #fff;
	padding: rem(30) rem(40);
	@include adaptiveValue("padding-top", 30, 20);
	@include adaptiveValue("padding-bottom", 30, 20);
	padding-left: rem(10);
	padding-right: rem(10);
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: rem(10);
	transition: all 0.3s ease 0s;
	// .item-about-module__icon
	&__icon {
		flex: 0 0 rem(48);
		width: rem(48);
		max-height: rem(48);
		display: flex;
		align-items: flex-end;
		justify-content: center;

		img {
			max-width: 100%;
		}
	}
	// .item-about-module__value
	&__value {
		font-weight: 700;
		font-size: 40px;
		@include adaptiveValue("font-size", 40, 40);
		line-height: 1.4;
		letter-spacing: em(0.2, 40);
		color: $blueColor;
	}
	// .item-about-module__text
	&__text {
		font-weight: 700;
		font-size: rem(16);
		line-height: 1.4;
		text-align: center;
		letter-spacing: em(0.1, 16);
	}
}

//==========================================================================================================================

.advice {
	background-color: #fafafa;
	// .advice__container
	&__container {
	}
	// .advice__header
	&__header {
		&:not(:last-child) {
			margin-bottom: rem(50);
		}
	}
	// .advice__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(235), 1fr));
		@include adaptiveValue("column-gap", 30, 15);
		row-gap: rem(30);
	}
	// .advice__item
	&__item {
	}
}
.item-advice {
	height: 100%;
	background-color: #fff;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transition: all 0.3s ease 0s;
	// .item-advice__body
	&__body {
		@include adaptiveValue("padding", 30, 15);
		flex: 1 1 auto;
	}
	// .item-advice__title
	&__title {
		font-weight: 700;
		font-size: rem(16);
		line-height: 1.5;
		letter-spacing: em(0.1, 16);
		color: $blueColor;
		&:not(:last-child) {
			margin-bottom: em(15, 16);
		}
	}
	// .item-advice__text
	&__text {
		font-weight: 500;
		line-height: 1.4;
		letter-spacing: em(0.2, 14);
		&:not(:last-child) {
			margin-bottom: em(35, 14);
		}
	}
	// .item-advice__image-ibg
	&__image-ibg {
		align-self: stretch;
		padding-bottom: percent(138, 230);
	}
}

//==========================================================================================================================

.who {
	// .who__container
	&__container {
	}
	// .who__header
	&__header {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 100, 50);
		}
	}
	// .who__items
	&__items {
		display: grid;
		row-gap: rem(30);
		@media (min-width: $mobile) {
			grid-template-columns: 1fr rem(335);
			@include adaptiveValue("column-gap", 120, 15, 1045, 768, 1);
		}
	}
	// .who__item
	&__item {
	}
}
.who-video {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
		z-index: 1;
	}
	// .who-video__link-ibg
	&__link-ibg {
		display: block;
		padding-bottom: percent(442, 597);
		@media (any-hover: hover) {
			&:hover {
				&::before {
					background-color: darken($greenColor, 5%);
				}
			}
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 2;
			transform: translate(-50%, -50%);
		}
		&::before {
			width: 100%;
			height: 100%;
			background-color: $greenColor;
			@include adaptiveValue("width", 100, 80);
			@include adaptiveValue("height", 100, 80);
			border-radius: 50%;

			transition: all 0.3s ease 0s;
		}
		&::after {
			border-top: 12px solid transparent;
			border-left: 24px solid #fff;
			border-bottom: 12px solid transparent;
			transform: translate(-45%, -50%);
		}
	}
}
.item-who {
	display: flex;
	align-items: center;
	height: 100%;
	// item-who__content
	&__content {
	}
	// .item-who__header
	&__header {
		text-align: left;
		&:not(:last-child) {
			margin-bottom: rem(50);
		}
	}

	// .item-who__points
	&__points {
		display: flex;
		flex-direction: column;
		row-gap: rem(30);
	}
}

.point-item-who {
	display: flex;
	column-gap: rem(20);
	// .point-item-who__icon
	&__icon {
		&::before {
			font-size: rem(32);
			@include adaptiveValue("font-size", 32, 25);
			color: $orangeColor;
		}
		// .point-item-who__icon_people
		&_people {
		}
		// .point-item-who__icon_speed
		&_speed {
		}
	}
	// .point-item-who__content
	&__content {
		flex: 1 1 auto;
	}
	// .point-item-who__title
	&__title {
		font-weight: 700;
		font-size: rem(16);
		line-height: 1.5;
		letter-spacing: em(0.1, 16);
		color: $blueColor;
		&:not(:last-child) {
			margin-bottom: em(5, 16);
		}
	}
	// .point-item-who__text
	&__text {
		font-weight: 600;
		line-height: 1.4;
		letter-spacing: em(0.2, 14);
	}
}

//==========================================================================================================================

.clients {
	background-color: #fafafa;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: rem(77);
		left: 0;
		bottom: 0;
		background-color: $blueColor;
	}
	// .clients__container
	&__container {
		position: relative;
		z-index: 1;
	}
	// .clients__items
	&__items {
		padding: rem(50) 0;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(140), 1fr));
		align-items: center;
		justify-items: center;
		column-gap: rem(7);
		row-gap: rem(30);
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	// .clients__item
	&__item {
	}
	// .clients__body
	&__body {
		background-color: $darkBlueColor;
		@include adaptiveValue("margin-left", 30, 0);
		@include adaptiveValue("margin-right", 30, 0);
		@include adaptiveValue("padding-top", 30, 20);
		@include adaptiveValue("padding-bottom", 30, 20);
		@include adaptiveValue("padding-left", 50, 15);
		@include adaptiveValue("padding-right", 50, 15);
		display: grid;
		gap: rem(20);
		@media (min-width: $mobile) {
			grid-template-columns: 1fr 1fr;
		}
	}
	// .clients__text
	&__text {
		font-weight: 700;
		font-size: rem(24);
		line-height: 1.4;
		letter-spacing: em(0.1, 24);
		color: #fff;
		@media (min-width: $mobile) {
			max-width: rem(270);
		}
	}
	// .clients__form
	&__form {
	}
}
.item-clients {
	// .item-clients__icon
	&__icon {
	}
}
.form-clients {
	display: flex;
	align-items: center;
	// flex-wrap: wrap;
	row-gap: rem(15);
	// .form-clients__item
	&__item {
		// .form-clients__item_input
		&_input {
			flex: 1 1 auto;
			// flex: 1 0 rem(250);
		}
	}
	// .form-clients__input
	&__input {
		width: 100%;
		height: rem(60);
		padding: rem(15) rem(20);
		background: #f9f9f9;
		border: 1px solid #e6e6e6;
		border-radius: 5px 0 0 5px;
		font-size: rem(14);
	}
	// .form-clients__btn
	&__btn {
		background-color: $orangeColor;
		color: #fff;
		padding: rem(15) rem(20);
		font-size: rem(14);
		min-height: rem(60);
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #e6e6e6;
		border-radius: 0px 5px 5px 0px;
	}
}
